# I modified the github action from @arichornlover 's uYouEnhanced repo, but the original idea is by @ISnackable. Thanks to both of them!
# https://github.com/ISnackable/YTCubePlus/blob/main/.github/workflows/Build.yml

name: Build and Release BHTwitter

on:
  workflow_dispatch:
    inputs: 
      decrypted_twitter_url:
        description: "The direct URL to the decrypted Twitter/X ipa (Upload a decrypted .ipa file to Dropbox and input its URL here.)"
        default: ""
        required: true
        type: string    
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build BHTwitter
    runs-on: macos-12
    permissions:
      contents: write

    steps:
      - name: Checkout Main
        uses: actions/checkout@v4.1.7
        with:
          path: main
          ref: ${{ github.event.inputs.commit_id || github.ref }}
          submodules: recursive

      - name: Install Dependencies
        run: brew install ldid dpkg make
              

      - name: Set PATH environment variable
        run: echo "$(brew --prefix make)/libexec/gnubin" >> $GITHUB_PATH 

      - name: Setup Theos
        uses: actions/checkout@v4.1.7
        with:
          repository: theos/theos
          ref: 3da31488281ecf4394d10302d2629607f4a1aa07
          path: theos
          submodules: recursive
      
      - name: SDK Caching
        id: SDK
        uses: actions/cache@v4.0.2
        env:
          cache-name: iOS-16.5-SDK
        with:
          path: theos/sdks/
          key: ${{ env.cache-name }}
          restore-keys: ${{ env.cache-name }}

      - name: Download iOS SDK
        if: steps.SDK.outputs.cache-hit != 'true'
        run: |
          git clone --quiet -n --depth=1 --filter=tree:0 https://github.com/theos/sdks/
          cd sdks
          git sparse-checkout set --no-cone iPhoneOS16.5.sdk
          git checkout
          mv *.sdk $THEOS/sdks
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Setup Theos Jailed
        uses: actions/checkout@v4.1.7
        with:
          repository: qnblackcat/theos-jailed
          ref: master
          path: theos-jailed
          submodules: recursive

      - name: Install Theos Jailed
        run: |
          ./theos-jailed/install
        env:
          THEOS: ${{ github.workspace }}/theos
          
      - name: Install Azule
        run: |
          cd ${{ github.workspace }}/main
          git clone https://github.com/Al4ise/Azule 
          sudo ln -sf ~/Azule/azule /usr/local/bin/azule

      - name: Prepare Twitter/X iPA
        id: prepare_twitter
        run: |
          wget "$TWITTER_URL" --no-verbose -O main/Twitter.ipa

        env:
          TWITTER_URL: ${{ inputs.decrypted_twitter_url }}    

      - name: Build Tweak for Sideloading
        id: build_package
        run: |
          cd ${{ github.workspace }}/main
          make clean
          make SIDELOADED=1
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Verify packages Path
        run: ls -al ${{ github.workspace }}/main/packages/

      - name: Verify dylib Path
        run: ls -al ${{ github.workspace }}/main/theos/obj/debug/

      - name: Inject tweak into provided IPA
        run: |
          brew install coreutils
          cd ${{ github.workspace }}/main/packages
          tweakName=$(ls)
          cd ${{ github.workspace }}/main
          ./Azule/azule -i "$PWD/Twitter.ipa" -o "$PWD/packages/BHTwitter.ipa" -r -f "$PWD/theos/obj/debug/keychainfix.dylib" "$PWD/theos/obj/debug/libbhFLEX.dylib" "$PWD/theos/obj/debug/BHTwitter.dylib" "$PWD/packages/Cephei.framework" "$PWD/packages/CepheiUI.framework" "$PWD/packages/CepheiPrefs.framework" "$PWD/layout/Library/Application Support/BHT/BHTwitter.bundle"

      - name: Inject FuckElon Patches
        run: |
          cd ${{ github.workspace }}/main/packages
          mv BHTwitter.ipa BHTwitter.zip
          unzip BHTwitter.zip
          cd Payload/Twitter.app
          cp -rf ${{ github.workspace }}/main/FuckElon/patches/* /
          cd ../..
          zip -r BHTwitter.ipa Payload
          rm -rf Payload    

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2.0.6
        with:
          tag_name: BHTwitter-v${{ github.run_number }}
          name: BHTwitter-v${{ github.run_number }}
          files: main/packages/*.ipa
          draft: true
